# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv/
venv/
ENV/

# Streamlit
.streamlit/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp

# IDE files
.vscode/
.idea/

# Byte-compiled / optimized
*.egg-info/
.eggs/
